@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
:root.a {
  --background-image: url('~/assets/A/intro-background.png')
  --text-hilight: #FF8D24;
}

:root.b {
  --background-image: url('assets/B/intro-background.png')
  --text-hilight: #66edff;
}
body {
  @apply bg-gray-50 h-screen;
  background-image: var(--background-image);
  background-size: cover;
}

@layer base {
  @font-face {
    font-family: "Proxima Nova Regular";
    src: url('~/assets/fonts/ProximaNova/proximanova_regular.woff') format("woff"),
         url('~/assets/fonts/ProximaNova/proximanova_regular.woff2') format("woff2");
  }
  
  /* body {
    font-family: "Proxima Nova Regular";
  } */
}

@layer components {
  .btn {
    @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white inline-block;
  }
  .card {
    @apply rounded-3xl border-[1px] border-[#CDCDCD] bg-white;
    position: relative;

    &::before {
      content: '';
      background-image: url('~/assets/a/comet.png');
      background-size: contain;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 202px;
      height: 80px;
      transform: translate(-24px, -58px);


    }
  }

  .text-hilight {
    color: var(--text-hilight);
    font-weight: bold;
  }
}

